<h1><%=@user.email%></h1>

<ul>
  <% @articles.each do |article| %>
      <div class="article-wrappper">
        <li><%= link_to article.title, articles_path(article) %></li>
      </div>
  <% end %>
</ul>
